.root {
  width: 100px;
  height: 50px;
  //border-radius: 50%;
  background: #d8d8d8;
  text-align: center;
  cursor: pointer;
  padding:10px;
  margin-top:2px;
}


.lightgray-node {
  background: lightgray;
}

.blue-node {
  background: blue !important;
  color:White;
}

.root > p {
  padding: 1px;
  text-align: center;
}


.root-wrapper {
  display: inline-block;
}
